body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}


.form-container {
    width: 50%;
    margin: 0 auto;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: orange;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.contact_form {
    flex: 1;
    padding-right: 20px;
}

.information {
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
}

.information img {
    width: 100%;
    height: auto;
}


.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/enzo.JPG');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.banner h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 70px;
}
.banner p{
    position: absolute;
        margin-top:140px;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 1;
        background-color: black;
        padding: 10px 20px;
        border-radius: 10px;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.aboutme img {
    max-width: 20%;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
}

.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    max-height: fit-content;
    color: black;
    font-size: 20px;
}

.content h2 {
    margin-top: 0;
    color: #333;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.badge {
    background-color: darkgray;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.badge i {
    margin-right: 15px;
}

.badge:hover {
    transform: scale(1.1);
}

.timeline {
    list-style-type: none;
    padding: 0;
}

.timeline li {
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
}
.job-title {
    display: block;
}
.company {
    display: block;
    font-style: italic;
}

.timeline li p {
    margin: 5px 0 0;
}

.duties {
    margin-top: 5px;
    padding-left: 20px;
}

.education {
    list-style: none;
    padding: 0;
}

.education li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.education li img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.education li .date {
    font-weight: bold;
    margin-right: 10px;
}

.education li .degree {
    font-weight: bold;
}

.education li .institution {
    color: darkgray;
    padding-left: 5px;
}
.results{
    padding-left: 20px;
    
}
.card_container{
    justify-content: center;
    display: flex;
}
.card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}