.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.form {
    margin-bottom: 20px;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form input[type="number"],
.form input[type="checkbox"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

.calculate-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    width: auto;
}

.calculate-btn:hover {
    background-color: #0056b3;
}

.schedule,
.graph {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.graph,
.schedule {
    display: none;
}

.graph {
    width: 350px;
    height: 400px;
    padding-bottom: 100px;
}

.schedule h2 {
    margin-top: 0;
}

#repayment-table {
    width: 100%;
    border-collapse: collapse;
}

#repayment-table th,
#repayment-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

#repayment-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#repayment-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#repayment-table tbody tr:hover {
    background-color: #eaeaea;
}

.show-more-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #f2f2f2;
}

#restart-button {
    background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-self: flex-start;
        width: auto;
}

#restart-button:hover {
    background-color: #0056b3;
}